
<nav>
  <div>
    <div style="display: inline-block" ><a routerLink="/first" routerLinkActive="active">- First Component -</a></div>
    <div style="display: inline-block" ><a routerLink="/second" routerLinkActive="active">-  Component -</a></div>
    <div style="display: inline-block" ><a routerLink="/third" routerLinkActive="active">- AGENCI SZKICU -</a></div>
    <div style="display: inline-block" ><a routerLink="/fourth" routerLinkActive="active">- SZUM SZKICU -</a></div>
    <div style="display: inline-block" ><a routerLink="/fifth" routerLinkActive="active">- TYP SZKICU -</a></div>
    <div style="display: inline-block" ><a routerLink="/sixth" routerLinkActive="active">- GLIFY -</a></div>
  </div>
</nav>
