
<div fxLayout="row" fxLayoutAlign="space-around center" >
  <div>XXXXXXXX</div>
  <div>YYYYYYY</div>
</div>

<nav>

  <div fxLayout="row" fxLayoutAlign="space-around center" >

    <div><a routerLink="/first" routerLinkActive="active">First Component</a></div>
    <div><a routerLink="/second" routerLinkActive="active">Second Component</a></div>
    <div><a routerLink="/third" routerLinkActive="active">AGENCI SZKICU</a></div>
    <div><a routerLink="/fourth" routerLinkActive="active">SZUM SZKICU</a></div>
    <div><a routerLink="/fifth" routerLinkActive="active">TYP SZKICU</a></div>
  </div>

</nav>
